<h1>Enter New Skill</h1>
<%= form_tag url, method: form_method do %>
<div>Skill Name: <input type= "text" value= "<%= @skill.name %>" name="name"></div>
<input type= "submit" value="Add Skill">
<%end%>