<h1>Welcome, <%= current_user.name%>!</h1>
<p>Below is your resume information:</p>
<div>
  <h3>Experience</h3>
  <ul>
    <li>Start Date</li>
    <li>End Date</li>
    <li>Job Title</li>
    <li>Company Name</li>
    <li>Details:</li>
  </ul>
</div>
<div>
  <h3>Skills</h3>
  <ul>
    <li>Start Date</li>
  </ul>
</div>
<div>
  <ul>
    <li>Name</li>
    <li>Description</li>
    <li>URL</li>
    <li>Screenshot</li>
  </ul>
</div>